div {
    background-color: black;
    color: blanchedalmond;
}
h1 {
    background-color: blue;
    color: black;
}
h2 {
    background-color: chartreuse;
    color: crimson;
}
p {
    background-color: crimson;
    color: gray;
}